*{
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}
body{
  position: fixed;
}
.circleDesgin{
  height: 500px;
  width: 500px;
  background: #000000;
  border-radius: 50%;
  position: absolute;
  left: -69px;
  top: -350px;
  z-index: -2;
}
.circleDesgin p{
  font-size: 35px;
  color: #fff;
  text-align: center;
  margin-top: 420px;
  font-weight: 900;
  font-family: sans-serif;
}
.boxDesgin{
  background: black;
  width: 100vw;
  height: 100px;
  position: fixed;
  top: 87vh;
  z-index: -2;
}

.textArea{
  margin-top: 180px;
  width: 100vw;
  text-align: center;

}
.HelloText{
  font-size: 28px;
  font-weight: 600;
  font-family: 'Varela Round', sans-serif;
  text-align: center;
}
.welcomeText{
  font-size: 12px;
  font-weight: 300;
  font-family: 'Varela Round', sans-serif;
  line-height: 30px;
  text-align: center;
}

#usernameLogin{
  width: 70%;
  height: 40px;
  border-radius: 14px;
  border: 0.5px solid #000000;
  background: #DFDFDF;
  font-family: sans-serif;
  margin: 20px;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.1);
  padding-left: 20px;
}
#passwordLogin{
  width: 70%;
  height: 40px;
  border-radius: 14px;
  border: 0.5px solid #000000;
  background: #DFDFDF;
  font-family: sans-serif;
  box-shadow:0 0 15px 4px rgba(0, 0, 0, 0.1);
  padding-left: 20px;
}
#passwordLogin:focus, #usernameLogin:focus{
  padding-left: 20px;
  width: 70%;
}
::placeholder{
  padding-left: 15px;
  font-family: sans-serif;
  text-transform: lowercase;
}

.inputArea{
  text-align: center;
}

.inputArea span{
  font-size: 10px;
  margin-left: 80px;
}
.inputArea a{
  font-size: 10px;
  padding-left: 3px;
}
.inputArea i{
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 270px;
  top: 330px;
}

#loginA{
  text-decoration: none;
  border-radius: 50px;
  border: 0.5px solid #000000;
  background: #fff; 
  font-family: sans-serif;
  padding: 9px 110px;
  color: #000000;
  font-size: 22px;
  font-weight: 600;
  position: absolute;
  left: 42px;
  top: 420px;
}
#loginA:hover{
  background: #000000;
  color: #fff;
}